.button {
    --bg-color: #1c2b3a;
    --bg-color-hover: #263b50;
    --color: theme("colors.white");

    background-color: var(--bg-color);
    border-radius: theme("borderRadius.lg");
    color: var(--color);
    font-size: theme("fontSize.sm");
    line-height: theme("lineHeight.tight");
    padding: theme("padding.3") theme("padding[3.5]");

    &.is-hovered {
        background-color: var(--bg-color-hover);
    }

    &.is-focused {
        @apply ring-2 ring-secondary-lightBlue/30;

        outline: none;
    }

    &--variant-secondary {
        --bg-color: theme("backgroundColor.accent.orange");
        --bg-color-hover: #ffac6b;
        --color: theme("colors.primary.dark");
    }

    &--variant-ghost {
        --bg-color: theme("backgroundColor.transparent");
        --bg-color-hover: theme("backgroundColor.transparent");
        --color: theme("colors.white");

        border: 1px solid theme("borderColor.white");

        &.is-hovered {
            border-color: theme("borderColor.white/.50");
        }
    }
}

.loader {
    animation: l1 2s steps(4) infinite;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side, #fff 90%, #0000) 0 /
        calc(100% / 3) 100% space;
    clip-path: inset(0 100% 0 0);
    width: 12px;
}

@keyframes l1 {
    to {
        clip-path: inset(0 -34% 0 0);
    }
}
