@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #010c15;
    --foreground: #607b96;
    --header-height: theme("height.14");
    --footer-height: theme("height.12");
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-fira-code);
}
